/* common */
a {
  text-decoration: none;
  color: #333;
}
img {
  width: 100%;
  object-fit: cover !important;
}
p.newsText._1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._5 {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

body {
  margin: 25px auto;
}
div.inner {
  max-width: 1200px;
  margin: 0 auto;
}

._rel {
  position: relative;
}
._abs {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 145px;
  top: -30px;
  color: #faa635;
  border-bottom: 1px solid #faa635;
  padding: 2px;
}
._rel:hover ._abs {
  opacity: 1;
}
