/* common */
a {
  text-decoration: none;
  color: #333;
}
img {
  width: 100%;
  object-fit: cover !important;
}
p.newsText._1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._5 {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

body {
  margin: 25px auto;
}
div.inner {
  max-width: 1200px;
  margin: 0 auto;
}

._rel {
  position: relative;
}
._abs {
  opacity: 0;
  position: absolute;
  right: 0;
  transform: translateX(100%);
  width: auto;
  bottom: -2px;
  color: #faa635;
  padding: 2px;
  font-size: 18px;
  white-space: nowrap;
}
._rel:hover ._abs {
  opacity: 1;
}

/* header */
/* 헤더 */
/* 제호 및 광고*/
.header-top {
  display: flex;
  justify-content: space-between;
}
.header-top h1 {
  width: 267px;
  font-size: 0;
  img {
    width: 100%;
  }
}
/* left */
.header-top .left {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.header-top .left .page-wrap {
  display: flex;
}
.header-top .left .page-wrap li:not(:last-child) {
  margin-right: 30px;
  position: relative;
}
.header-top .left .page-wrap li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 1px;
  height: 100%;
  background: #8b8284;
}
.header-top .left .page-wrap li a {
  font-size: 26px;
  color: #c7c7c7;
}
.header-top .left .page-wrap li a.active {
  color: #faa635;
}
.header-top .left .page-wrap li a:hover {
  color: #faa635;
}
/* right */
.header-top .right {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.header-top .right .log-wrap {
  display: flex;
  column-gap: 20px;
}
.header-top .right .log-wrap li:first-child {
  position: relative;
}
.header-top .right .log-wrap li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% + 5px);
  background-color: #faa635;
}
.header-top .right .log-wrap li a {
  font-size: 18px;
}
/* footer */
/* footer */
footer {
  margin-top: 70px;
  border-top: 3px solid #000;
}
footer ul {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
footer ul li:first-child {
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer ul li:last-child p {
  font-size: 13px;
  color: #9b9b9b;
  letter-spacing: -0.5px;
  line-height: 2;
}
/* nva */
/* 글로벌 네비 */
.header-gnb {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 15px;
}
.header-gnb .gnb-wrap {
  display: flex;
  column-gap: 70px;
  align-items: center;
  padding: 0 10px;
}
.header-gnb .gnb-wrap li a {
  font-weight: bold;
  font-size: 20px;
}
/* 검색 및 날짜 */
.header-gnb .right-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-gnb .right-wrap .search-nav #searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-gnb .right-wrap .search-nav input {
  width: 170px;
  height: 25px;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
}
.header-gnb .right-wrap .search-nav button {
  width: 30px;
  height: 30px;
  background-image: url("img/common/3.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.header-gnb .right-wrap .date {
  font-size: 15px;
  color: #898989;
}

/* 서브네비 */
.header-snb {
  padding: 15px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.header-snb ul {
  display: flex;
  justify-content: space-around;
}
.header-snb ul li {
  position: relative;
}
.header-snb ul li::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  transform: translateY(50%);
}
.header-snb ul li a {
  font-size: 15px;
}
