/* common */
a {
  text-decoration: none;
  color: #333;
}
img {
  width: 100%;
  object-fit: cover !important;
}
p.newsText._1 {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._2 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._3 {
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
p.newsText._5 {
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

body {
  margin: 25px auto;
}
div.inner {
  max-width: 1200px;
  margin: 0 auto;
}

._rel {
  position: relative;
}
._abs {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 145px;
  top: -30px;
  color: #faa635;
  border-bottom: 1px solid #faa635;
  padding: 2px;
}
._rel:hover ._abs {
  opacity: 1;
}

/* header */
/* 헤더 */
/* 제호 및 광고*/
.header-top {
  display: flex;
  justify-content: space-between;
}
.header-top h1 {
  width: 267px;
  font-size: 0;
  img {
    width: 100%;
  }
}
/* left */
.header-top .left {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.header-top .left .page-wrap {
  display: flex;
}
.header-top .left .page-wrap li:not(:last-child) {
  margin-right: 30px;
  position: relative;
}
.header-top .left .page-wrap li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 1px;
  height: 100%;
  background: #8b8284;
}
.header-top .left .page-wrap li a {
  font-size: 26px;
  color: #c7c7c7;
}
.header-top .left .page-wrap li a.active {
  color: #faa635;
}
.header-top .left .page-wrap li a:hover {
  color: #faa635;
}
/* right */
.header-top .right {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.header-top .right .log-wrap {
  display: flex;
  column-gap: 20px;
}
.header-top .right .log-wrap li:first-child {
  position: relative;
}
.header-top .right .log-wrap li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% + 5px);
  background-color: #faa635;
}
.header-top .right .log-wrap li a {
  font-size: 18px;
}
/* footer */
/* footer */
footer {
  margin-top: 70px;
  border-top: 3px solid #000;
}
footer ul {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
footer ul li:first-child {
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer ul li:last-child p {
  font-size: 13px;
  color: #9b9b9b;
  letter-spacing: -0.5px;
  line-height: 2;
}
