/* 첫번째 영역 ------------------------ */
main {
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #000;
}
/* 왼쪽 */
.main-wrap {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 400px;
}
/* leftBox */
.main-wrap .main-left {
  width: 30%;
}
.main-wrap .main-left .left-wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.main-wrap .main-left .left-wrap li:not(:last-child) {
  /* padding-bottom: 15px;
  border-bottom: 1px solid #ccc; */
  position: relative;
}
.main-wrap .main-left .left-wrap li:not(:last-child)::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
}
.main-wrap .main-left .left-wrap li:not(:first-child) {
  /* padding-top: 15px; */
}
.main-wrap .main-left .left-wrap li {
  display: flex;
  gap: 15px;
}
.main-wrap .main-left .left-wrap li .img img {
  width: 145px;
  height: 90px;
}
.main-wrap .main-left .left-wrap li .txt {
  font-size: 20px;
  line-height: 1.25;
}
/* centerBox */
.main-wrap .main-center {
  width: 45%;
  background-color: #ccc;
}
.main-wrap .main-center .swiper {
  height: 100%;
}
.main-wrap .main-center .swiper a {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  background-color: #000;
}
.main-wrap .main-center .swiper a img {
  height: 100%;
}
.main-wrap .main-center .swiper-button {
  color: #faa635;
  background-color: #ffffffbd;
  padding: 10px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin: 0 10px;
}
.main-wrap .main-center .swiper-pagination-bullet-active {
  background: #faa635;
}

/* 슬라이드 영역 */
.slider {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.viewport {
  position: relative;
  width: 100%;
  height: 100%;
}
.slide {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background: #eee;
  border: 1px solid #ccc;

  opacity: 0;
  transition: opacity 0.8s ease;

  background-color: #000;
}
.slide a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: center;
  align-items: center;
}
.slide a img {
  width: 100%;
  height: 100%;
}
.slide a img[src$=".gif"] {
  /* gif만 */
  margin: 0 auto;
}
.slide._active {
  opacity: 1;
  z-index: 1;
}

button. {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.prev {
  left: 50%;
  margin-left: -50px;
}
.next {
  right: 50%;
  margin-right: -50px;
}
.center-sl {
  position: absolute;
  bottom: 30px;
  z-index: 5;
}

/* rightBox */
.main-wrap .main-right {
  width: 25%;
}
.main-wrap .main-right > ul {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; */
}
.main-wrap .main-right li:first-child {
  padding-bottom: 60px;
  border-bottom: 1px solid #ccc;
}
.main-wrap .main-right li:first-child .tit {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.5px;
  line-height: 1.2;
}
.main-wrap .main-right li:first-child .txt {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.2;
  color: #878787;
}
.main-wrap .main-right li:last-child {
  margin-top: 30px;
}
.main-wrap .main-right li:last-child > p {
  text-align: right;
  color: #ccc;
  font-size: 18px;
}
.main-wrap .main-right li:last-child .news_box {
  font-size: 20px;
  line-height: 1.2;
  background-color: #f8f5ee;
  padding: 20px 18px;
}

/* 두번째 영역 ------------------------ */
.newsList_2 {
  padding: 40px 0;
  display: flex;
  gap: 20px;
}
/* 왼쪽 */
.newsList_2 .left {
  width: 75%;
}
.newsList_2 ul.left li:nth-child(1) {
  padding-bottom: 30px;
  border-bottom: 2px solid #bbb;
}
.newsList_2 ul.left li:nth-child(2) {
  padding: 30px 0 20px;
}
.newsList_2 ul.left li a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.newsList_2 ul.left li a img {
  width: 520px;
  height: 300px;
  background-color: gray;
  display: inline-block;
}
.newsList_2 .left .newsTxt p {
  line-height: 1.5;
}
.newsList_2 .left .newsTxt p:nth-child(1) {
  font-size: 20px;
  padding-bottom: 30px;
  font-weight: bold;
}
.newsList_2 .left .newsTxt p:nth-child(2) {
  font-size: 15px;
  color: #626262;
}
/* 오른쪽 */
.newsList_2 .right {
  width: 25%;
}
.newsList_2 .right .title-wrap {
  position: relative;
  color: #3596fa;
  color: #faa635;
  overflow: hidden;
}
.newsList_2 .right .title-wrap .tit::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #3596fa;
  background-color: #faa635;
  margin-left: 140px;
}
.newsList_2 .right .title-wrap .tit {
  font-size: 25px;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.newsList_2 .right .title-wrap .tit ._icon {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 52px;
  background-image: url("img/main/10.png");
  background-size: contain;
  background-position: center center;
}
.newsList_2 .right .title-wrap .tit ._icon ._finger {
  position: absolute;
  left: 10px;
  top: 2px;
  animation: floatY 2s ease-in-out infinite;
}
@keyframes floatY {
  0% {
    top: 2px;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 2px;
  }
}
.newsList_2 .right .title-wrap .txt {
  font-size: 20px;
  padding-top: 30px;
  line-height: 1.5;
}
.newsList_2 .right .title-wrap > a {
  text-align: right;
  display: inline-block;
  width: 100%;
  font-size: 15px;
  color: #626262;
  margin: 15px 0 20px;
}
.newsList_2 .right .kuki-box {
  border: 1px solid #b9b9b9;
  border: 2px solid #3596fa;
  border-color: #faa635;
  height: 495px;
  overflow: hidden;
}
.newsList_2 .right .kuki-box .txt-wrap {
  padding: 20px 10px;
}
.newsList_2 .right .kuki-box .txt-wrap p:nth-child(1) {
  font-size: 18px;
}
.newsList_2 .right .kuki-box .txt-wrap p:nth-child(2) {
  font-size: 12px;
  color: #626262;
  margin-top: 10px;
}
.newsList_2 .right .kuki-box .txt-wrap p:nth-child(3) {
  margin-top: 25px;
  font-size: 15px;
  color: #626262;
  line-height: 1.2;
}
.newsList_2 .right .img-wrap {
  position: relative;
  height: 300px;
}
.newsList_2 .right .img-wrap img {
  height: 100%;
}
.newsList_2 .right .img-wrap p {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  padding: 15px 10px;
  font-size: 18px;
  line-height: 1.2;
}
.newsList_2 .right .btm-wrap {
  display: flex;
  justify-content: space-between;
  padding: 8px 10px;
}
.newsList_2 .right .btm-wrap ul {
  display: flex;
  flex-shrink: 0;
}
.newsList_2 .right .btm-wrap ul li {
  display: flex;
  flex-shrink: 0;
}
.newsList_2 .right .btm-wrap img {
  width: 20px;
  height: 100%;
  flex-shrink: 0;
  object-fit: contain !important;
}

/* 쿠키오리지날 */
.bg_black {
  background-color: #242424;
}
/* 쿠키오리지널1 */
.kuki-original {
  color: #fff;
  padding: 35px 0;
  overflow: hidden;
}
.kuki-original .twrap h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.kuki-original .twrap h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.kuki-original .twrap a {
  color: #fff;
  text-align: right;
  display: inline-block;
  width: 100%;
  font-weight: 200;
  margin-top: 10px;
  font-size: 15px;
}
.kuki-original > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 20px;
}
.kuki-original > ul img {
  display: inline-block;
  background-color: gray;
}
.kuki-original > ul li:nth-child(1) img {
  height: 400px;
}
.kuki-original > ul li .txt-wrap p {
  color: #fff;
}
.kuki-original > ul li:nth-child(1) .txt-wrap p {
  line-height: 1.2;
}
.kuki-original > ul > li:nth-child(1) .txt-wrap p:nth-child(1) {
  font-size: 22px;
  color: #faa635;
  font-weight: bold;
  padding-top: 20px;
}
.kuki-original > ul > li:nth-child(1) .txt-wrap p:nth-child(2) {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  padding-top: 20px;
}
.kuki-original > ul li:nth-child(2) img {
  width: 290px;
  height: 160px;
}
.kuki-original > ul li:nth-child(2) .txt-wrap {
  padding-top: 15px;
}
.kuki-original > ul li:nth-child(2) .txt-wrap p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.kuki-original > ul li:nth-child(2) .txt-wrap p:nth-child(1) {
  color: #faa635;
  padding-bottom: 10px;
}
.kuki-original > ul li:nth-child(2) ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 15px;
}
/* 쿠키오리지널2 */
.kuki-original-2 {
  color: #fff;
  padding: 35px 0;
  overflow: hidden;
  position: relative;
}
/* .kuki-original-2 {
  position: absolute;
  top: 75px;
  left: 5px;
  background-color: palevioletred;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
} */
.kuki-original-2 .plase_message {
  position: absolute;
  display: none;
  z-index: 2;
  width: 465px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  padding: 5px 8px;
  border-radius: 8px;
  margin-left: 10px;
  text-align: left;
  border: 1px solid #333;
  line-height: 1.2;
}
.kuki-original-2 .twrap {
  margin-bottom: 30px;
}
.kuki-original-2 .twrap h2 {
  position: relative;
  font-size: 25px;
  font-weight: bold;
}
.kuki-original-2 .twrap h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.kuki-original-2 .twrap a {
  color: #fff;
  text-align: right;
  display: inline-block;
  width: 100%;
  font-weight: 200;
  margin-top: 10px;
  font-size: 15px;
}
.kuki-original-2 .swiper {
  width: 1200px;
}
.kuki-original-2 .swiper .swiper-wrapper {
  width: 100%;
  transition-timing-function: linear !important;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide {
  width: calc(100% / 5);
  background-color: transparent;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 300px;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide a img {
  height: 100%;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide .txt-wrap p:first-child {
  font-weight: bold;
  color: #faa635;
  padding: 10px 0 15px;
  font-size: 22px;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide .txt-wrap {
  text-align: left;
}
.kuki-original-2
  .swiper
  .swiper-wrapper
  .swiper-slide
  .txt-wrap
  p:nth-child(2) {
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  font-size: 18px;
}

/* 네번째 영역 */
.newsList_4 {
  display: flex;
  margin-top: 45px;
}
/* 왼쪽 */
.newsList_4 .left {
  width: 75%;
}
.newsList_4 ul.left li:nth-child(1) {
  padding-bottom: 30px;
  border-bottom: 2px solid #bbb;
}
.newsList_4 ul.left li:nth-child(2) {
  padding: 30px 0 20px;
}
.newsList_4 ul.left li a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.newsList_4 ul.left li a img {
  width: 520px;
  height: 300px;
  background-color: gray;
  display: inline-block;
}
.newsList_4 .left .newsTxt p {
  line-height: 1.5;
}
.newsList_4 .left .newsTxt p:nth-child(1) {
  font-size: 20px;
  padding-bottom: 30px;
  font-weight: bold;
}
.newsList_4 .left .newsTxt p:nth-child(2) {
  font-size: 15px;
  color: #626262;
}
/* 오른쪽 */
.newsList_4 .right {
  width: 280px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.newsList_4 .right li {
  background-color: gray;
  height: calc(100% / 3);
}
.newsList_4 .right li img {
  width: auto;
  height: 100%;
}
/* 다섯번째영역 */
.newsList_5 {
  margin-top: 35px;
}
.newsList_5 > h2 {
  position: relative;
  font-size: 25px;
  color: #faa635;
  font-weight: bold;
  overflow: hidden;
}
.newsList_5 > h2::after {
  content: "";
  position: absolute;
  left: auto;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #faa635;
  margin-left: 15px;
}
.newsList_5 > ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 25px;
}
.newsList_5 > ul li a:nth-child(1) {
  display: inline-block;
  width: 220px;
  height: 200px;
  height: 250px;
  background-color: gray;
}
.newsList_5 > ul li a {
  position: relative;
}
.newsList_5 > ul li a:nth-child(2) p {
  color: #030303;
  font-size: 20px;
  padding-top: 20px;
  line-height: 1.2;
}
.newsList_5 > ul li a .bg {
  position: absolute;
  top: -10px;
  left: -10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #f39c12 0 50%, transparent 50% 100%);
}
.newsList_5 > ul li a .num {
  color: #fff;
  text-align: center;
  padding-right: 18px;
  padding-top: 5px;
  font-weight: bold;
}
.newsList_5 > ul li a img {
  height: 100%;
}

/* 여섯번째 영역 */
.newsList_6 {
  display: flex;
  margin-top: 50px;
  gap: 20px;
  border-top: 2px solid #faa635;
  padding-top: 30px;
}
.newsList_6 .left {
  width: 70%;
}
.newsList_6 ul.left li:nth-child(1) {
  padding-bottom: 30px;
  border-bottom: 2px solid #bbb;
}
.newsList_6 ul.left li:nth-child(2) {
  padding: 30px 0 20px;
}
.newsList_6 ul.left li a {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.newsList_6 ul.left li a img {
  width: 400px;
  height: 230px;
  background-color: gray;
  display: inline-block;
}
.newsList_6 .left .newsTxt p {
  line-height: 1.5;
}
.newsList_6 .left .newsTxt p:nth-child(1) {
  font-size: 20px;
  margin-bottom: 30px;
}
.newsList_6 .left .newsTxt p:nth-child(2) {
  font-size: 15px;
  color: #626262;
}
.newsList_6 .right {
  width: 30%;
  overflow: hidden;
}
.newsList_6 .right .twrap h2 {
  position: relative;
  font-size: 25px;
  color: #faa635;
  font-weight: bold;
}
.newsList_6 .right .twrap h2::after {
  content: "";
  position: absolute;
  left: auto;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #faa635;
  margin-left: 15px;
}
.newsList_6 .right .twrap a {
  width: 100%;
  text-align: right;
  display: inline-block;
  margin-top: 5px;
}
.newsList_6 .right .opinion li {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 1.2;
  padding: 25px 0;
}
.newsList_6 .right .opinion li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.newsList_6 .right .opinion li .t_wrap {
  display: flex;
  column-gap: 10px;
}
.newsList_6 .right .opinion a:first-child {
  display: inline-block;
  width: 67px;
  height: 67px;
  overflow: hidden;
  border-radius: 50%;
  flex-shrink: 0;
}
.newsList_6 .right .opinion a:first-child img {
  height: 100%;
}
.newsList_6 .right .opinion a p {
  font-size: 19px;
}

/* 일곱번째 영역 */
.newsList_7 {
  margin-top: 40px;
}
.newsList_7 .twrap {
  color: #faa635;
  overflow: hidden;
}
.newsList_7 .twrap h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.newsList_7 .twrap h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #faa635;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.newsList_7 .twrap a {
  color: #626262;
  text-align: right;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}
.newsList_7 > ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}
.newsList_7 > ul li p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
.newsList_7 > ul img {
  display: inline-block;
  background-color: gray;
}
.newsList_7 > ul li:nth-child(1) img {
  height: 400px;
}
.newsList_7 > ul li .txt-wrap p {
  color: #fff;
}
.newsList_7 > ul li:nth-child(1) .txt-wrap p {
  line-height: 1.2;
}
.newsList_7 > ul > li:nth-child(1) .txt-wrap p:nth-child(1) {
  font-size: 22px;
  color: #faa635;
  font-weight: bold;
  padding-top: 20px;
}
.newsList_7 > ul > li:nth-child(1) .txt-wrap p:nth-child(2) {
  font-size: 26px;
  color: #fff;
  font-weight: bold;
  padding-top: 20px;
}
.newsList_7 > ul li:nth-child(2) img {
  width: 290px;
  height: 160px;
}
.newsList_7 > ul li:nth-child(2) .txt-wrap {
  padding-top: 15px;
}
.newsList_7 > ul li:nth-child(2) .txt-wrap p {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
}
.newsList_7 > ul li:nth-child(2) .txt-wrap p:nth-child(1) {
  color: #faa635;
  padding-bottom: 10px;
}
.newsList_7 > ul li:nth-child(2) ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 15px;
}

/* 여덟번째 영역 */
.newsList_8 {
  position: relative;
  margin-top: 50px;
}
.newsList_8 .txt-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.newsList_8 .txt-wrap h3 {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 15px;
}
.newsList_8 .txt-wrap p {
  font-size: 19px;
  line-height: 1.2;
}

/* 아홉번째영역 */
.newsList_9 {
  overflow: hidden;
  margin-top: 50px;
}
.newsList_9 .twrap {
  color: #faa635;
}
.newsList_9 .twrap h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
}
.newsList_9 .twrap h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #faa635;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.newsList_9 .twrap a {
  color: #626262;
  text-align: right;
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  font-size: 15px;
}
.newsList_9 ul {
  display: grid;
  grid-template-columns: repeat(2, 4fr);
  column-gap: 90px;
  row-gap: 20px;
  margin-top: 25px;
}
.newsList_9 ul li {
  display: flex;
  gap: 20px;
}
.newsList_9 ul li img {
  width: 180px;
  height: 130px;
  display: inline-block;
  background-color: gray;
  flex-shrink: 0;
}
.newsList_9 ul li p {
  font-size: 20px;
  line-height: 1.5;
}

/* 열번째 영역 */
.newsList_10 {
  overflow: hidden;
  padding-top: 70px;
}
.newsList_10 h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  color: #faa635;
}
.newsList_10 h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #faa635;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.newsList_10 > ul {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 10px;
  margin-top: 50px;
  row-gap: 50px;
}
.newsList_10 > ul > li {
}
.newsList_10 > ul > li > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.newsList_10 > ul ul {
  padding-top: 35px;
}
.newsList_10 > ul > li > ul a {
  font-size: 18px;
  color: #b3b3b3;
}
.newsList_10 > ul > li > ul li:not(:last-child) {
  margin-bottom: 15px;
}

