/* 글로벌 네비 */
.header-gnb {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 15px;
}
.header-gnb .gnb-wrap {
  display: flex;
  column-gap: 70px;
  align-items: center;
  padding: 0 10px;
}
.header-gnb .gnb-wrap li a {
  font-weight: bold;
  font-size: 20px;
}
/* 검색 및 날짜 */
.header-gnb .right-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-gnb .right-wrap .search-nav #searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-gnb .right-wrap .search-nav input {
  width: 170px;
  height: 25px;
  border: 1px solid #e7e7e7;
  border-radius: 25px;
}
.header-gnb .right-wrap .search-nav button {
  width: 30px;
  height: 30px;
  background-image: url("img/search-btn.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}
.header-gnb .right-wrap .date {
  font-size: 15px;
  color: #898989;
}

/* 서브네비 */
.header-snb {
  padding: 15px 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.header-snb ul {
  display: flex;
  justify-content: space-around;
}
.header-snb ul li {
  position: relative;
}
.header-snb ul li::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
  transform: translateY(50%);
}
.header-snb ul li a {
  font-size: 15px;
}
