/* 헤더 */
.header-top {
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
}
.header-top h1 {
  font-size: 50px;
  font-weight: 900;
}
/* 상단 소개 영역 */
.top_wrap {
  display: flex;
  justify-content: center;
  column-gap: 35px;
  margin-top: 105px;
  margin-bottom: 60px;
}
/* 왼쪽 이미지 영역 */
.top_wrap .img_wrap {
  width: 390px;
  height: 490px;
}
.top_wrap .img_wrap img {
  height: 100%;
}
.top_wrap .txt_wrap {
  width: 455px;
}
/* 오른쪽 텍스트 영역 */
.top_wrap .txt_wrap {
}
.top_wrap .txt_wrap .title {
  font-size: 35px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: -1px;
}
.top_wrap .txt_wrap .sub_title {
  margin-top: 50px;
}
.top_wrap .txt_wrap ul {
  margin-top: 20px;
}
.top_wrap .txt_wrap ul li {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: bold;
}
.top_wrap .txt_wrap table tbody tr {
  border-bottom: 1px solid #ccc;
}
.top_wrap .txt_wrap table tbody tr th:first-child {
  width: 90px;
}
.top_wrap .txt_wrap table tbody tr th:last-child {
  text-align: right;
}
