/* 헤더 */
/* 제호 및 광고*/
.header-top {
  display: flex;
  justify-content: space-between;
}
.header-top h1 {
  font-size: 50px;
  font-weight: 900;
}
.header-top h1 span:first-child {
  font-weight: 600;
}
/* left */
.header-top .left {
  display: flex;
  column-gap: 50px;
  align-items: center;
}
.header-top .left .page-wrap {
  display: flex;
}
.header-top .left .page-wrap li:not(:last-child) {
  margin-right: 30px;
  position: relative;
}
.header-top .left .page-wrap li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 0;
  right: -15px;
  width: 1px;
  height: 100%;
  background: #8b8284;
}
.header-top .left .page-wrap li a {
  font-size: 26px;
  color: #c7c7c7;
}
.header-top .left .page-wrap li a.active {
  color: #faa635;
}
.header-top .left .page-wrap li a:hover {
  color: #faa635;
}
/* right */
.header-top .right {
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.header-top .right .log-wrap {
  display: flex;
  column-gap: 20px;
}
.header-top .right .log-wrap li:first-child {
  position: relative;
}
.header-top .right .log-wrap li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% + 5px);
  background-color: #faa635;
}
.header-top .right .log-wrap li a {
  font-size: 18px;
}

/* @media (max-width: 430px) {
  ul.menu {
    display: none;
  }
} */
.header-top .right > a {
  display: none;
}
header .log-wrap {
  display: flex;
  column-gap: 20px;
}
header .log-wrap li:first-child {
  position: relative;
}
header .log-wrap li:first-child::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);
  width: 2px;
  height: calc(100% + 5px);
  background-color: #faa635;
}
header .log-wrap li a {
  font-size: 18px;
}

/* 메뉴 영역 */
ul.menu {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-top: 35px;
}
ul.menu li {
  background-color: #ccc;
  padding: 6px 18px;
  border-radius: 25px;
  cursor: pointer;
}
ul.menu li.active {
  background-color: #faa635;
}
ul.menu li.active a {
  font-size: 20px;
  color: #fff;
}
ul.menu li:hover {
  background-color: #faa635;
}
ul.menu li:hover a {
  color: #fff;
}
ul.menu li a {
  color: #5c5c5c;
  font-weight: bold;
}

/* 본문 영역 */
main {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
main .left {
  width: 760px;
}
main .left > li {
  border: 1px solid #b9b9b9;
  margin-bottom: 40px;
}
main .left .top {
  padding: 20px;
  display: flex;
  column-gap: 20px;
  align-items: center;
}
main .left .top .pic {
  background-color: #f1f1f1;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .left .top .pic img {
  /* width: auto; */
}
main .left .top .txt {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}
main .left .top .date {
  font-size: 15px;
  font-weight: 400;
  color: #626262;
  padding-top: 5px;
}
main .left .comment {
  font-size: 18px;
  font-weight: 400;
  color: #626262;
  line-height: 1.2;
  padding: 20px;
  padding-top: 0;
}
main .left .img_wrap .txt {
  font-size: 20px;
  color: #030303;
  padding: 10px 20px;
  background-color: #f1f1f1;
}
main .left .img_wrap .btm-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
main .left .img_wrap .btm-wrap ul {
  display: flex;
  gap: 15px;
}
main .left .img_wrap .btm-wrap ul li {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}
main .left .img_wrap .btm-wrap > img {
  width: 22px;
}
/* 오른쪽 */
main .right {
  width: 400px;
  border: 1px solid #b9b9b9;
  padding: 20px 45px;
  box-sizing: border-box;
  height: 930px;
}

/* 스크롤바의 폭 너비 */
main .right {
  overflow-y: scroll;
  position: relative;
}
main .right::-webkit-scrollbar {
  width: 10px;
}
main .right::-webkit-scrollbar-thumb {
  background: #4a4a4a; /* 스크롤바 색상 */
  border-radius: 10px; /* 스크롤바 둥근 테두리 */
  position: absolute;
  right: 10px;
}
main .right::-webkit-scrollbar-track {
  background: #fff; /*스크롤바 뒷 배경 색상*/
}
main .right .tit {
  font-size: 20px;
}
main .right .reporter_wrap {
  margin-top: 25px;
}
main .right .reporter_wrap li {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
main .right .reporter_wrap li:not(:last-child) {
  margin-bottom: 15px;
}
main .right .reporter_wrap .pic {
  width: 70px;
  height: 70px;
  background-color: #f1f1f1;
  border-radius: 50%;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
main .right .reporter_wrap .name {
  font-size: 16px;
}

@media (max-width: 1180px) {
  body {
    margin: 25px;
  }
  /* ul.menu {
    display: none;
  } */
  ul.menu li {
    display: none;
  }
  ul.menu li.mobile {
    display: block;
  }
  main {
    flex-direction: column-reverse;
    margin-top: 30px;
  }
  main .left {
    margin-top: 20px;
    width: 100%;
  }
  main .right {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    overflow-y: hidden;
  }
  main .right .reporter_wrap {
    display: flex;
    justify-content: space-between;
    width: 1250px;
  }
  main .right .reporter_wrap li {
    flex-direction: column;
    row-gap: 10px;
  }
}

.header-top .left .page-wrap li:nth-child(2)::before {
  display: inline-block !important;
}
.header-top .left .page-wrap li:nth-child(2)::after {
  left: 265px !important;
}
.header-top .left .page-wrap li:nth-child(2)::before {
  content: ", 슥- 넘겨 보는 세상 이야기";
  /* display: none; */
  position: absolute;
  color: #faa635;
  font-size: 18px;
  bottom: 0px;
  left: 50px;
  width: 205px;
}
.header-top .left .page-wrap li:nth-child(2) {
  margin-right: 230px !important;
}

