/* footer */
footer {
  margin-top: 70px;
  border-top: 3px solid #000;
}
footer ul {
  display: flex;
  column-gap: 30px;
  margin-top: 50px;
}
footer ul li:first-child {
  width: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
footer ul li:last-child p {
  font-size: 13px;
  color: #9b9b9b;
  letter-spacing: -0.5px;
  line-height: 2;
}
