.inner {
  width: 1200px;
  margin: 0 auto;
}
.top_banner {
  text-align: center;
  margin: 20px 0;
}
/* --메인---------------------- */
main {
  /* padding-bottom: 100px; */
}
/* 기사 본문 */
.paper_wrap {
}
/* 기사 페이지 상단 */
.paperTxt_wrap {
  width: 750px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.paperTxt_wrap > ul {
  margin-top: 20px;
  padding-left: 10px;
  border-left: 5px solid #555;
  color: #9e9999;
  font-size: 13pt;
  line-height: 1.4;
}
.paperTxt_wrap .cate {
  display: flex;
  font-size: 14pt;
  margin-bottom: 30px;
  margin-top: 10px;
}
.paperTxt_wrap .tit {
  width: 100%;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: -0.67px;
  word-break: keep-all;
}
.paperTxt_wrap .date {
  display: flex;
  font-size: 11pt;
  margin-top: 23px;
}
/* 기사 본문 */
.column_wrap {
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
  gap: 40px;
}
/* 기사 본문 좌측 */
.column_left {
  border-top: 1px solid #ccc;
  padding: 20px 0;
}
/* 기사 썸네일 이미지 */
.column_left .img_wrap {
  max-width: 950px;
  margin: 0 auto;
}
.column_left .img_box {
}
.column_left .img_box img {
  width: 100%;
}
.column_left .img_box iframe {
  width: 300px;
  height: 260px;
}
.column_left .img_des {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 5px;
  padding-left: 10px;
}
/* 기사 AI 요약 */
.column_left .AI_wrap {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #fec57b40;
  background-color: #fec57b;
  padding: 20px 10px;
  margin-top: 20px;
  border-radius: 15px;
}
.column_left .AI_wrap .tit {
  font-weight: bold;
  color: #fff;
  padding-bottom: 10px;
  font-size: 20px;
}
.column_left .AI_wrap .txt_list {
  padding-left: 30px;
  color: #5b5b5b;
  font-weight: 600;
}
.column_left .AI_wrap .txt_list li {
  list-style-type: circle;
  line-height: 1.8;
}
/* 기사 본문 텍스트 */
.column_left .txt_wrap {
  width: 600px;
  margin: 0 auto;
}
.column_left .txt_wrap p {
  font-size: 14pt;
  line-height: 1.65;
}
.column_left .txt_wrap p.txt {
  padding: 20px 0;
  word-break: break-all;
}
.column_left .txt_wrap .deskname {
  width: 500px;
  margin: 20px auto;
}
.column_left .left_hello {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  padding-top: 20px;
}
.column_left .left_hello .img_box {
  width: 90px;
  height: 90px;
  background-image: url("../img/newpaper/ppl_1.jpg");
  background-position: center center;
  background-size: cover;
  font-size: 0;
  border-radius: 50%;
}
.column_left .left_hello .txt_box .name {
  font-size: 16pt;
  line-height: normal;
  font-weight: bold;
}
.column_left .left_hello .txt_box .mail {
  font-size: 13pt;
  line-height: normal;
  margin-top: 3px;
  padding: 5px 10px;
  background-color: #ccc;
  border-radius: 25px;
  color: #333;
  margin-top: 10px;
  cursor: pointer;
}
.column_left .left_hello .sayhi {
  padding: 30px 90px;
  background: #fec57b40;
  border-radius: 25px;
}
.column_left .left_hello .sayhi p {
  font-size: 18px;
}
.column_left .left_market {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.column_left .left_market .img_box {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
}
.column_left .left_market .img_box:hover {
  background-color: #faae41;
}
.column_left .left_market .img_box .img {
  width: 100%;
}
.column_left .left_market .txt {
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  color: #5b5b5b;
}
.book_hover {
  width: 50px;
  height: 50px;
  background-color: #faa635;
  border-radius: 50%;
  font-size: 0;
  background-image: url(../img/common/book_1.png);
}
.book_hover:hover {
  background-image: url("../img/common/book_2.png");
}
.column_left .left_banner {
  border-top: 3px solid #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px auto 0;
  padding: 20px 0;
}
.column_left .left_banner .ban {
  width: 320px;
}
.column_left .left_banner .ban img {
  width: 100%;
}
.column_left .left_think {
  margin: 20px 0;
  padding-top: 20px;
}
.column_left .left_think .tit {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.column_left .left_think .emotion_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
}
.column_left .left_think .emotion_wrap .emotion_list > img {
  width: 80px;
}
.column_left .left_think .emotion_wrap .emotion_list > p {
  font-size: 18px;
}
.column_left .left_think .emotion_wrap .emotion_list > p:not(:last-child) {
  padding: 15px 0;
}
.left_btm_banner {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.left_best img {
  width: 100%;
}

.left_pic {
  padding-top: 20px;
  border-top: 2px solid #000;
}
.left_pic p.tit {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.left_pic > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.left_pic > ul li {
  padding-bottom: 30px;
}
.left_pic > ul li .img {
  height: 170px;
  overflow: hidden;
}
.left_pic > ul li .txt {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 15px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.left_pic > ul li .sub_txt {
  color: #555;
  font-weight: normal;
  font-size: 12pt;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin-top: 10px;
  line-height: 18pt;
}
.left_pic .img img {
  height: 100%;
}
/* 쿠키오리지널2 */
.kuki-original-2 {
  color: #fff;
  padding: 35px 0;
  overflow: hidden;
  position: relative;
}
/* .kuki-original-2 {
  position: absolute;
  top: 75px;
  left: 5px;
  background-color: palevioletred;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
} */
.kuki-original-2 .plase_message {
  position: absolute;
  display: none;
  z-index: 2;
  width: 465px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
  padding: 5px 8px;
  border-radius: 8px;
  margin-left: 10px;
  text-align: left;
  border: 1px solid #333;
  line-height: 1.2;
}
.kuki-original-2 .twrap {
  margin-bottom: 30px;
}
.kuki-original-2 .twrap h2 {
  position: relative;
  font-size: 25px;
  font-weight: bold;
}
.kuki-original-2 .twrap h2::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.kuki-original-2 .twrap a {
  color: #fff;
  text-align: right;
  display: inline-block;
  width: 100%;
  font-weight: 200;
  margin-top: 10px;
  font-size: 15px;
}
.kuki-original-2 .swiper {
  width: 1200px;
}
.kuki-original-2 .swiper .swiper-wrapper {
  width: 100%;
  transition-timing-function: linear !important;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide {
  width: calc(100% / 5);
  background-color: transparent;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide a {
  display: inline-block;
  width: 100%;
  height: 300px;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide a img {
  height: 100%;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide .txt-wrap p:first-child {
  font-weight: bold;
  color: #faa635;
  padding: 10px 0 15px;
  font-size: 22px;
}
.kuki-original-2 .swiper .swiper-wrapper .swiper-slide .txt-wrap {
  text-align: left;
}
.kuki-original-2
  .swiper
  .swiper-wrapper
  .swiper-slide
  .txt-wrap
  p:nth-child(2) {
  color: #fff;
  font-weight: bold;
  line-height: 1.2;
  font-size: 18px;
}
.bg_black {
  background-color: #000;
}
.bg_black .inner {
  width: 1200px;
  margin: 0 auto;
}
/* 많이 본 기사 넷플릭스 */
.left_many {
  width: 100%;
  padding: 40px 30px;
  background-color: #111828;
  box-sizing: border-box;
  border-radius: 15px;
  color: #fff;
}
.left_many .many_topBox {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 2px solid #faae41;
}
.left_many .many_btmList {
  /* display: flex;
  justify-content: space-between; */
  width: 120%;
}
.left_many .many_btmList li {
  width: 150px;
  height: 150px;
  background-color: #634b27;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
}
.left_many .many_btmList .many_box {
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #161a12;
  width: 15px;
  height: 15px;
  text-align: center;
  line-height: 15px;
  padding: 5px;
  border-radius: 5px;
}
.left_many .many_btmList .many_num {
}
.left_many .many_btmList .many_txt {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  text-align: left;
  background-color: black;
  bottom: 0;
  padding: 5px 10px;
  font-size: 14px;
}
/*  */
.left_btm_banner2 {
  width: 720px;
  height: 90px;
  margin: 20px auto;
  text-align: center;
  margin-top: 50px;
}
/* 기사 본문 우측 */
.column_right {
  width: 25%;
}
/* 많이 본 기사 */
.column_right .many_wrap {
  border-top: 2px solid #000;
  padding-top: 20px;
}
.column_right .many_wrap .manyTit {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 20px;
}
.column_right .writeFor {
  padding-top: 20px;
  border-top: 2px solid #faae41;
}
.column_right .writeFor .tit {
  font-size: 21px;
  font-weight: bold;
  color: #faae41;
}
.column_right .writeFor img {
  padding-top: 20px;
}
.left_coment {
  width: 860px;
  margin: 0 auto;
}
/* 열번째 영역 */
.newsList_10 {
  overflow: hidden;
  padding-top: 70px;
}
.newsList_10 h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  color: #faa635;
}
.newsList_10 h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #faa635;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.newsList_10 > ul {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 10px;
  margin-top: 50px;
  row-gap: 50px;
}
.newsList_10 > ul > li {
}
.newsList_10 > ul > li > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.newsList_10 > ul ul {
  padding-top: 35px;
}
.newsList_10 > ul > li > ul a {
  font-size: 18px;
  color: #b3b3b3;
}
.newsList_10 > ul > li > ul li:not(:last-child) {
  margin-bottom: 15px;
}

/* 다섯번째영역 */
.newsList_5 {
  margin-top: 35px;
  overflow: hidden;
}
.newsList_5 > h2 {
  /* position: relative;
  font-size: 25px;
  color: #faa635;
  font-weight: bold; */
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-top: 20px;
  margin-top: 50px;
  border-top: 2px solid #000;
}
.newsList_5 > ul {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 25px;
}
.newsList_5 > ul li a:nth-child(1) {
  display: inline-block;
  width: 220px;
  height: 200px;
  height: 250px;
  background-color: gray;
}
.newsList_5 > ul li a {
  position: relative;
  overflow: hidden;
}
.newsList_5 > ul li a:nth-child(2) p {
  color: #030303;
  font-size: 20px;
  padding-top: 20px;
  line-height: 1.2;
}
.newsList_5 > ul li a .bg {
  position: absolute;
  top: 3px;
  left: 3px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: linear-gradient(135deg, #f39c12 0 50%, transparent 50% 100%);
}
.newsList_5 > ul li a .num {
  color: #fff;
  text-align: center;
  padding-right: 18px;
  padding-top: 5px;
  font-weight: bold;
}
.newsList_5 > ul li a img {
  height: 100%;
}

.left_about {
  padding-top: 20px;
  /* border-top: 2px solid #000; */
}
.left_about p.tit {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}
.newsList_10 {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 2px solid #d4d4d4;
  margin-top: 100px;
}
.left_best {
  margin-top: 20px;
}
.left_best p.tit {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
  padding-top: 20px;
  margin-top: 50px;
  border-top: 2px solid #000;
}
.left_best ul {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 30px;
}
.left_best.border-bottom ul li {
  border-bottom: 1px solid #ccc;
}
.left_best ul li {
  padding-bottom: 30px;
}
.left_best ul li .img {
  height: 200px;
  overflow: hidden;
}
.left_best ul li .img img {
  height: 100%;
}
.left_best ul li p.txt {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 15px;
}
.left_best ul li .sub_txt {
  color: #555;
  font-weight: normal;
  font-size: 12pt;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  margin-bottom: 10px;
  line-height: 18pt;
  margin-top: 20px;
}

.side_wrap {
  z-index: 99;
  position: fixed;
  left: 100px;
  bottom: 40px;
  width: 60px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #fff;
}
.side_wrap li .img_box img {
  width: 25px;
}
.side_wrap li .tit {
  font-size: 13px;
}
