/* 헤더 */
.header-top {
  padding-bottom: 30px;
}
/* main */
main.top {
  padding-top: 75px;
  border-top: 2px solid #000;
}
main.top .t_txt {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
main.top .t_txt img {
  width: 178px;
}
main.top .t_txt p {
  font-size: 25px;
  font-weight: bold;
}
main.top > p {
  padding-top: 35px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #656565;
  text-align: center;
}
/* banner */
.banner {
  margin-top: 40px;
  height: 485px;
  background-image: url("../img/oven/banner.png");
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.banner .tit_wrap {
  line-height: 1.5;
}
.banner .tit_wrap .tit._1 {
  color: #fff;
  font-size: 38px;
  font-weight: 500;
}
.banner .tit_wrap .tit._2 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}
.banner > .txt {
  padding-top: 130px;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}
/* content */
.content {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
}
.content .left {
  width: 665px;
}
.content ul.left li {
  display: flex;
  column-gap: 10px;
  padding: 20px 10px;
  border: 1px solid #d4d4d4;
  box-sizing: border-box;
}
.content ul.left li:not(:last-child) {
  margin-bottom: 25px;
}
.content ul.left li .img_wrap {
  width: 280px;
  height: 235px;
  flex-basis: auto;
  flex-shrink: 0;
  background-color: #ccc;
  overflow: hidden;
}
.content ul.left li .txt_wrap .tit {
  font-size: 20px;
  line-height: 28px;
  color: #030303;
}
.content ul.left li .txt_wrap .data {
  margin-top: 25px;
  font-size: 15px;
  color: #000;
}
.content ul.left li .txt_wrap .txt {
  margin-top: 20px;
  font-size: 15px;
  color: #626262;
  line-height: 1.5;
}
.content .right {
  width: 522px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  column-gap: 20px;
  row-gap: 25px;
}
.content .right li .btm_wrap .tit {
  padding-top: 23px;
  color: #626262;
  font-size: 15px;
}
.content .right li .btm_wrap .price {
  margin-top: 20px;
  font-size: 25px;
  color: #faa635;
  font-weight: bold;
  letter-spacing: -0.8px;
}
.content .right li .btm_wrap .btn {
  display: inline-block;
  width: 100%;
  height: 35px;
  margin-top: 15px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  background-color: #faa635;
}
/* projects_wrap */
.projects_wrap {
  margin-top: 115px;
}
.projects_wrap > .tit {
  font-size: 30px;
  text-align: center;
  font-weight: 900;
}
.projects_wrap ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  margin-top: 75px;
}
.projects_wrap ul li {
}
.projects_wrap ul li .img_wrap {
}
.projects_wrap ul li .tit {
  font-size: 24px;
  font-weight: 700;
  margin-top: 20px;
}
.projects_wrap ul li .txt {
  margin-top: 15px;
  color: #828282;
  font-size: 20px;
  line-height: 28px;
}
/* 하단네비게이션 영역 */
.newsList_10 {
  overflow: hidden;
  padding-top: 70px;
}
.newsList_10 h2 {
  font-size: 25px;
  font-weight: bold;
  position: relative;
  color: #faa635;
}
.newsList_10 h2::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #faa635;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: auto;
  margin-left: 20px;
}
.newsList_10 > ul {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 10px;
  margin-top: 50px;
  row-gap: 50px;
}
.newsList_10 > ul > li > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.newsList_10 > ul ul {
  padding-top: 35px;
}
.newsList_10 > ul > li > ul a {
  font-size: 18px;
  color: #b3b3b3;
}
.newsList_10 > ul > li > ul li:not(:last-child) {
  margin-bottom: 15px;
}
