.header-top {
  padding-bottom: 30px;
  border-bottom: 2px solid #000;
}
main .only_my {
  margin-top: 80px;
}
main .only_my .top_wrap {
  display: flex;
  column-gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
main .only_my .top_wrap .icon {
  font-size: 0;
  width: 48px;
  height: 34px;
  background-image: url("../img/scrap_note/1.png");
}
main .only_my .top_wrap .tit {
  font-size: 30px;
  font-weight: bold;
}
main .only_my .btm_wrap {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 20px;
  gap: 50px;
}
main .only_my .btm_wrap li {
  display: flex;
  column-gap: 20px;
}
main .only_my .btm_wrap li .img_wrap {
  width: 190px;
  height: 120px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 5px;
}
main .only_my .btm_wrap li .img_wrap img {
  height: 100%;
}
main .only_my .btm_wrap li .img_wrap:hover img {
  transform: scale(1.2);
  transition-duration: 500ms;
}
main .only_my .btm_wrap li .txt_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0;
}
main .only_my .btm_wrap li .txt_wrap .txt {
  font-size: 20px;
  line-height: 1.2;
}
main .only_my .btm_wrap li .txt_wrap .txt:hover {
  text-decoration: underline;
}
main .only_my .btm_wrap li .txt_wrap .data {
  color: #333;
}
main .ai_best {
  margin-top: 100px;
}
main .ai_best .top_wrap {
  display: flex;
  column-gap: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
main .ai_best .top_wrap .icon {
  font-size: 0;
  width: 32px;
  height: 37px;
  background-image: url("../img/scrap_note/2.png");
}
main .ai_best .top_wrap .tit {
  font-size: 30px;
  font-weight: bold;
}

.newsList_10 {
  overflow: hidden;
  margin-top: 200px;
}
.newsList_10 > ul {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 10px;
  row-gap: 50px;
  padding-top: 70px;
  border-top: 1px solid #ccc;
}
.newsList_10 > ul > li > a {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 35px;
}
.newsList_10 > ul ul {
  padding-top: 35px;
}
.newsList_10 > ul > li > ul a {
  font-size: 18px;
  color: #b3b3b3;
}
.newsList_10 > ul > li > ul li:not(:last-child) {
  margin-bottom: 15px;
}
main .ai_best .btm_wrap {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  margin-top: 20px;
  gap: 50px;
}
main .ai_best .btm_wrap li {
  display: flex;
  column-gap: 20px;
}
main .ai_best .btm_wrap li .img_wrap {
  width: 190px;
  height: 120px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 5px;
}
main .ai_best .btm_wrap li .img_wrap img {
  height: 100%;
}
main .ai_best .btm_wrap li .img_wrap:hover img {
  transform: scale(1.2);
  transition-duration: 500ms;
}
main .ai_best .btm_wrap li .txt_wrap {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 0;
}
main .ai_best .btm_wrap li .txt_wrap .txt {
  font-size: 20px;
  line-height: 1.2;
}
main .ai_best .btm_wrap li .txt_wrap .txt:hover {
  text-decoration: underline;
}
